# Disabling Python things
*.pyc
__pycache__/
.mypy_cache/
.pytest_cache/

# Disabling vscode configurations
.vscode/

# Disabling macOS directory stuff
.DS_Store

# Disabling virtualenv
venv/

# Disabling server's database
pyed-piper.db
pyed-piper.db-shm
pyed-piper.db-wal
