@import "theme.scss";

body {
  color: $dark-text;
  margin: 0;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button,
input[type="submit"] {
  background-color: $secondaryColor;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 3px 0px $darkBackground;
  color: $text;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3px;
  padding: 0.3rem 0.6rem;
  transition: background-color 0.15s;
}

.input[type="submit"]::before {
  visibility: hidden;
}

button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: darken($secondaryColor, 5%);
  outline: none;
  transition: background-color 0.15s;
}

button:active,
input[type="submit"]:active {
  box-shadow: none;
  transform: translate(0, 3px);
}

input[type="text"],
input[type="number"] {
  border-color: $darkBackground;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

label {
  color: $secondary-dark-text;
  display: block;
  margin: 0.5rem 0rem 0.2rem 0rem;
}
