@import "theme.scss";

.synth-button {
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 0px auto;
}

.synth-button-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.config-section {
  margin: 1rem 0rem;
}

.config-header {
  color: $secondary-dark-text;
  font-weight: bold;
}
